h1 {
    background-color: darkorange;
    width: 250px;
    text-align: center;
    height: 100px;
}

body {
    background-image: url(/assets/images/hexs.jpg);
}

.main {
    background-color: red;
    color: silver;
    width: 500px;
    min-height: 100px;
    font-size: 1.5rem;
}

.clone {
    float: left;
    background-color: aqua;
}

.cltwo {
    float: left;
    background-color: cadetblue;
    margin-left: 40px;
    width: 40px;
}

h2 {
    background-color: darkgoldenrod;
}