h1 {
    background-color: rgba(16, 29, 146, 0.692);
    width: 250px;
    text-align: center;
    height: 100px;
    font-weight: bold;
}

body {
    background-image: url(/assets/images/hexs.jpg);
}

.main {
    background: rgba(255, 75, 75, 0.877); 
    width: 500px;
    min-height: 100px;
    font-size: 1.5rem;
    font-weight: bold;
}

.clone {
    float: left;
    min-width: 200px;
    min-height: 100px;
    background: rgba(255, 75, 75, 0.877); 
    transform: translateY(-23px);
    font-weight: bold;
    font-size:1.5rem;
}

.imgone {
    height: 150px;
    width: 150px;
    float: left;
    margin: 20px;
}

.imgtwo {
  height: 150px;
  width: 150px;
  float: left;
  margin: 20px;
}
  
.imgthree {
    height: 150px;
    width:150px;
    float: left;
    margin: 20px;
}

.imgfour {
    height: 150px;
    width:150px;
    float: left;
    margin: 20px;
}

.Wins {
    float: left;
    background:rgba(255, 0, 0, 0.048); 
    margin-left: 40px;
    width: 90px;
    height: 80px;
    font-weight: bold;
    font-size: 1.5rem;
}

.Losses {
    width: 90px;
    background:rgba(255, 0, 0, 0.541); 
    margin-left: 240px;
    height: 100px;
    font-weight: bold;
    font-size: 1.5rem;
}

.ytsi {
    width: 150px;
    background: rgba(255, 75, 75, 0.877); 
    font-size: 1.5rem;
    font-weight: bold;
}

#totalScore {
    width: 150px;
    height: 100px;
    background: rgba(255, 75, 75, 0.877); 
    font-size: 2rem;
    font-weight: bold;
}

